
@media screen and (min-width:1000px)  {
    .topMenuConLeft{
        
       /* display: flex !important;*/
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (min-width:801px)  {
    
	body {
    
		overflow-x:  hidden;
    
	}
	
	
	
	.padder:hover{
		background: none !important;
	}
	.post-type-archive-yz-sale  .csList {
    
		display:  flex;
    
		display:  -ms-flexbox;
    
		width:  auto;
    
	}
	
	
	.single-yz-sale .form{
	padding: 4rem;
	box-sizing: border-box;
}
	
	.post-type-archive-yz-sale  .csList a {
    
		width:  44.9rem;
    
	}
	
	
	
	.post-type-archive-yz-sale .featureImage,  .post-type-archive-yz-sale .featureInfo, .post-type-archive-yz-sale .csList li {
    
		display:  block;
    
		width:  auto;
    
	}
	.post-type-archive-yz-sale .featureImage {
    
		padding-bottom:  0;
    
		height:  96.9rem;
    
		background-size:  cover;
    
		background-position:  center;
    
	}
	.post-type-archive-yz-sale .featureInfo {
    
		padding-bottom:  0;
    
		height:  33rem;
    
		 box-shadow:  0px 1px 27px 0 rgba(5,  5,  5,  0.14);
    
	}
	.post-type-archive-yz-sale .featureInfoTable {
    
		width:  35rem;
    
		display:  block;
    
		max-width:  none;
    
		box-sizing:  content-box;
    
	}
	.post-type-archive-yz-sale .featureInfo p {
    
		max-width:  none;
    
	}
	.soldLeft: before {
    
		background-position:  left 3rem top 30rem;
    
	}
	.csTitle {
    
		min-height:  1.8rem;
    
	}
	.post-type-archive-yz-sale .featureImage,  .post-type-archive-yz-sale .featureInfo,  .post-type-archive-yz-sale  .csList li {
    
		width:  45rem;
    
    flex:  0 0 45rem;
    
	}
	 .post-type-archive-yz-sale  .csList li.padder{
		width: auto;
		flex: 0 0 auto;
		flex-grow: 1;
	}
	.post-type-archive-yz-sale .site-main {
    
		padding-bottom:  0;
    
		overflow:  auto;
    
	}
}

@media screen and (min-width: 1001px) and (max-width:1400px) {
	
	.conBCon .table-cell{
		vertical-align: inherit;
		padding-top: 10rem;
	}

	
}
@media screen and (min-width: 1001px) and (max-width:1600px) {
    .aptDetTable p.apst {
    padding: 0 7rem 2rem!important;
}
.featureImage, .featureInfo {
    padding-bottom: 40%}
.post-type-archive-hb-case-study .featureImage, .post-type-archive-hb-case-study .featureInfo {
    padding-bottom: 35%}
.aptDetTable p {
    padding: 0 1rem 1rem;
}
.mitc {
    padding-top: 4rem;
}
.mainInfo h1:after {
    margin-top: 2.8rem;
}
.mainInfo h3 {
    line-height: 2rem;
}
.mainInfo h2 {
    line-height: 1.6rem;
}
}@media screen and (min-width:801px) {
    .par {
    padding-bottom: 4rem;
    position: relative;
}
.par a {
    position: absolute;
     bottom: 2rem;
     left: 0;
}
.gallery {
    height: 55.8rem;
}
.conBCon, .csTopImage {
    top: 0;
    width: 100%}
.post-type-archive-yz-sale .featureInfo h2 {
    font-size: 4.5rem;
    line-height: 6.5rem;
	white-space: normal;
}
.hb_side, .yz_side {
    height: 100%!important;
}
.isMobile {
    opacity: 0;
}
.sideContentCell {
    position: relative;
}
.conBCon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
}
.homeLink {
    transition: .2s;
}
.homeLink:hover {
    opacity: .7;
}
#masthead, .sub-menu {
    left: 0!important;
    right: 0!important;
}
.page-template-contact #main, .page-template-diplomas #main, .page-template-partners #main, .page-template-press #main, .page-template-us #main, .page-template-vacancies #main {
    margin-top: 14.7rem!important;
}
.trb {
    display: table!important;
}
.desktop {
    display: initial;
}
.mobile {
    display: none;
}
.hb_side svg path, .hb_side svg rect, .yz_side svg path, .yz_side svg rect {
    transition: .3s all;
}
.yz_side:hover svg path {
    fill: #679b3f;
}
.hb_side.unclikced:hover svg path {
    fill: #0c5687;
}
.yz_side.unclikced:hover svg rect {
    fill: #679b3f;
}
.hb_side.unclikced:hover svg, .yz_side.unclikced:hover svg {
    -webkit-filter: drop-shadow( 0 0 5px transparent );
    filter: drop-shadow( 0 0 5px  transparent );
}
}@media screen and (min-width:781px) and (max-width:1200px) {
    .sepcs li {
    width: 33.33%}
.aptDetTable p {
    padding: 2rem!important;
}
.xList li {
    padding-bottom: 30%}
.topLeftSale h3 {
    padding-left: 0;
}
.thirdOfThreeIn {
    padding: 4.5rem;
}
.firstOfThree .thirdOfThreeIn {
    padding-top: 0;
}
.hbMenuTop h3, .yzMenuTop h3 {
    width: 21rem;
}
.menuHolder {
    width: 35%}
.topMenuConRight .menuHolder {
    padding-right: 2rem;
}
.page-template-neighbours .thirdOfThreeIn {
    padding: 3rem;
}
.topMenuConLeft .menuHolder {
    padding-left: 2rem;
}
.qtc {
    padding: 3rem;
}
html {
    font-size: 7px;
}
    .menuHolder {
        width: 55% !important;
    }
.mitc a img {
    width: 90%}
.categoryDes:hover .categoryDesTableCell.projectPage .tags, .categoryDes:hover .categoryDesTableCell.projectPage h2, .categoryDes:hover .categoryDesTableCell.projectPage p {
    top: calc(35% - 4rem);
}
.page-template-green .categoryDes:hover .categoryDesTableCell.projectPage p {
    top: calc(50% - 4rem);
}
.langMenuCon {
    padding-left: 25rem;
}
}
@media screen and (min-width:1201px) and (max-width:1600px) {
    .langMenuCon {
    padding-left: 25rem;
}
.xList li {
    padding-bottom: 30%}
.categoryDes:hover .categoryDesTableCell.projectPage .tags, .categoryDes:hover .categoryDesTableCell.projectPage h2, .categoryDes:hover .categoryDesTableCell.projectPage p {
    top: calc(35% - 4rem);
}
.page-template-green .categoryDes:hover .categoryDesTableCell.projectPage p {
    top: calc(50% - 4rem);
}
.topLeftSale h3 {
    padding-left: 0;
}
.thirdOfThreeIn {
    padding: 8rem;
}
.firstOfThree .thirdOfThreeIn {
    padding-top: 2.3rem;
}
html {
    font-size: 9px;
}
    .menuHolder{
        width: 55% !important;
    }
}
@media screen and (max-width:1000px) {
    .jobText{
        margin-top: 5rem;
    }
    .mobileNav{
    position: absolute;
    top:16rem;
    left:0;
    width: 100%;
    display: flex;
}
.mobileNav li{
    flex: 0 0 50%;
}
.mobileNav li button{
    width:100%;
    border: none;
    background-color: transparent;
    font-family: almoni-dl, sans-serif;
font-size: 1.6rem;
    border-bottom: 6px solid rgba(170,170,170,0.5);
}

.mobileNav li button.active{
      border-bottom: 6px solid #1E93EB;
}
    
    .singleFlex{
        display: block;
        
        box-sizing: border-box;
    }
    .jobDets{
    padding: 0 2.6rem;
}
    .jobForm{
        left:101%;
        width: 100%;
        min-height: calc(100vh - 19.3rem);
        overflow: auto;
        position: absolute;
    top:19.3rem;
    transition: .3s all;
        margin-bottom: 5rem;
        
    
    
    }
     .jobForm.show{
        left: 0;
    }
    .jobText ul{
        list-style-position: outside;
        padding: 0 2.6rem 0 0;
    }
    .dr h2.mp{
        text-align: right;
        padding: 0 2.6rem;
    }
    .drushimGrdid{
        width: 100%;
    }
    .drushim{
        display: block;
    }
    .dt p{
        padding: 0 2.6rem;
        font-size: 1.6rem;
        line-height: 2rem;
        
    }
	#waS{
	display:inline-block;
}
	.joinNl form{
		width: 100%;
		padding: 0 0 5rem 0;
		box-sizing: border-box;
	}
	.joinNl {
		padding-left: 2rem;
		padding-right: 2rem;
		box-sizing: border-box;
	}
	.article iframe {
    width: 100%;
    height: auto;
}
	
	.cats{
	padding: 1.5rem 0;
	background-color: #ccc;
}
	.joinNl div.wpcf7-mail-sent-ok {
    position: absolute;
    top: 6rem;
    left: 2rem;
}
	.vdoPost  .vidCirc{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-color: rgba(255,255,255,.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.vdoPost .vidPlay{
	width: 0;
height: 0;
border-style: solid;
border-width: 16.5px 0 16.5px 27px;
border-color: transparent transparent transparent #ffffff;
}
    .yzBdiCon .bdil, .yzBdiCon .bdir {
    padding: 0;
}
.bdicon {
    bottom: 3rem;
}
 .yzBdiCon p {
    font-size: 1.5rem;
}
.yzBdiCon .bdiLogo img {
    width: 5rem;
}
.mitc a.bdiLogo {
    background-color:  transparent;
     border: none;
    display:  table-cell;
     width:  2.5rem;
}
 .csList li a, .tmcn {
    pointer-events: none;
}
.cls {
    top: -4.5rem;
}
.bac {
    position: fixed;
    height: 5.7rem;
    z-index: 99999999;
}
.bac.left {
    left: auto;
    right: 0;
}
.backArrow {
    padding-right: 1rem;
    width: 2.1rem;
    height: 1.8rem;
    background-size: 2.1rem 1.8rem;
    background-image: url(images/back_arrow.svg)!important;
    left: auto!important;
    padding-left: 1rem!important;
    background-position: left center!important;
}
.langMenuMob {
    padding-top: 10rem;
    direction: ltr;
    text-align: right;
    padding-right: 2.5rem;
}
.langMenuCon {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}
.csList li:hover a {
    pointer-events: auto;
}
.apts ul {
    padding: 0;
}
.secondOfThree .table {
    text-align: center;
}
.secondOfThree .thirdOfThreeIn {
    padding-top: 3.4rem;
}
.isMobile {
    opacity: 1;
}
.page-template-contact #main, .page-template-diplomas #main, .page-template-partners #main, .page-template-press #main, .page-template-us #main, .page-template-vacancies #main {
    margin-top: 9.6rem!important;
}
.current-menu-parent .sub-menu {
    z-index: 99999999999999;
    opacity: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 4.6rem;
    line-height: 4.6rem;
    top: 5rem;
    padding: 0;
    text-align: center;
}
#main, .gath, .mainInfo {
    position: relative;
}
.current-menu-parent .sub-menu li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}
.slick-dots {
    bottom: .5rem!important;
}
.slick-dots li.slick-active button {
    background-color: #fff!important;
}
.slick-dots li button {
    background-color: #ccc!important;
    border-radius: 50%;
    height: 5px!important;
    width: 5px!important;
}
#main {
    margin-top: 5rem!important;
}
.current-menu-parent .sub-menu a {
    padding: 0;
    font-size: 1.4rem;
}
.desktop {
    display: none;
}
.mobile {
    display: initial;
}
header .topMenuCon, header .topMenuConLeft, header .topMenuConRight {
    display: none!important;
}
#masthead {
    height: 5rem;
    line-height: normal;
    z-index: 9999999;
}
.site-main {
    min-height: 0;
}
.sidesContent {
    height: auto;
}
.gath {
    overflow: hidden;
    z-index: 0;
    font-size: 0;
}
.mainInfo {
    width: 100%;
    z-index: 1;
    padding: 0;
}
.cba, .theMenu {
    z-index: 99999;
}
.hb_side, .yz_side {
    height: 28rem;
    position: static;
    width: 50%;
    display: inline-block;
}
.contentA p, .hbSideOver, .yzSideOver {
    display: none;
}
.svgCon {
    width: 20%;
    margin: auto;
}
.svgCon svg {
    width: 100%;
    height: auto;
}
.sideContentCell .contentA h2 {
    font-size: 2.2rem;
    margin: 1rem 0;
}
.mitc a {
    display: block;
    width: 10rem;
    height: 10rem;
    border: 5px solid #f8f8f4;
    background-color: #f8f8f4;
    margin: -5.5rem auto 0;
    border-radius: 50%}
.mainInfo h1, .mainInfo h3 {
    padding: 0 2rem;
    margin-top: 1rem;
}
.mitc a img {
    width: 100%;
    height: auto;
}
.mainInfo h1 {
    font-size: 2rem;
    letter-spacing: .7rem;
}
.mainInfo h1:after {
    display: none;
}
.bottomLogos {
    position: static;
}
.mainInfo h2 {
    padding: 0 2rem;
}
.mainInfo h3 {
    font-size: 1.5rem;
    margin-bottom: 6rem;
}
.bottomLogos, .bottomLogos ul {
    height: 5rem;
}
.home, .home #main, .home #main-content, .home #page, .home #primary, .home .site-content, .sidesContent {
    height: auto;
}
footer {
    height: 8rem;
    display: block;
    background-size: 25%;
    background-position: left 2rem bottom;
}
.social ul {
    margin: 0;
    padding-top: 2rem;
}
.social ul i {
    font-size: 3rem!important;
}
.copyright, .social {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
}
.copyright {
    font-size: 1rem;
}
.fSep {
    vertical-align: sub;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}
.contentB h2 {
    letter-spacing: .4rem;
    font-size: 3rem;
}
.hpText {
    padding-top: 2rem;
}
.contentB {
    padding: 0 2rem;
}
.contentB p {
    font-size: 2rem;
}
.additional {
    margin-top: 4rem;
}
.additional ul {
    width: 90%;
    margin: auto;
    display: block;
    font-size: 0;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden;
}
.additional li {
    vertical-align: inherit;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .87);
    display: table;
    padding: 0;
    float: left;
    height: 6.5rem;
}
.additional li .td, .icn, .mh .ib {
    vertical-align: middle;
}
.answer:before, .tm:before {
    border-style: solid;
    content: ''}
.mobileHome, .mobileMenuBtn {
    width: 7rem;
    height: 5rem;
    position: absolute;
    background-position: center;
    top: 0;
    background-repeat: no-repeat;
}
.govCatInfo {
    padding: 2rem 5rem;
}
.additional li .td {
    padding: .5rem;
}
.additional h3 {
    font-size: 1.7rem;
}
.yz_side {
    float: left;
}
.hb_side {
    float: right;
}
.hb_menu, .yz_menu {
    display: none!important;
}
.mobileHome {
    background-image: url(images/home_btn.svg);
    background-size: 2.3rem 2.2rem;
    left: 0;
}
.mobileMenuBtn {
    background-image: url(images/hamburger.svg);
    background-size: 2.6rem 1.9rem;
    right: 0;
}
.mobile.topMenu .homeLink {
    background-size: 2.9rem 3.5rem;
}
.theMenu ul {
    padding: 4rem 0;
}
.tmcn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.cba {
    position: relative;
}
.theMenu {
    pointer-events: auto;
    padding-top: 4rem;
    position: absolute;
    right: -80%;
    top: 0;
    width: 80%;
    background-color: #fff;
    min-height: 100%;
    -webkit-box-shadow: 1px 0 12px 0 rgba(0, 0, 0, .17);
    -moz-box-shadow: 1px 0 12px 0 rgba(0, 0, 0, .17);
    box-shadow: 1px 0 12px 0 rgba(0, 0, 0, .17);
}
.mh, .theMenu li a {
    padding: 0 2.5rem;
    font-size: 2rem;
    box-sizing: border-box;
}
.tm {
    position: relative;
    display: none;
    -webkit-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, .23);
    -moz-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, .23);
    box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, .23);
}
.tm:before {
    display: block;
    position: absolute;
    top: 0;
    right: 3.6rem;
    width: 0;
    height: 0;
    border-width: 1.1rem 1rem 0;
    border-color: #fff transparent transparent;
}
.icn, .svgConM {
    width: 4rem;
    height: 4rem;
}
.yzMobileMenu .tm {
    background-color: #9dda61;
}
.hbMobileMenu .icn, .hbMobileMenu .tm {
    background-color: #2f8bcc;
}
.theMenu li {
    font-size: 2rem;
    display: block;
    color: #fff;
    line-height: 5rem;
    float: none!important;
}
.theMenu li a {
    line-height: 5rem;
    display: block;
    color: #fff;
}
.mh, .mh:active, .mh:hover {
    color: #7d7d7d;
}
.icn {
    border-radius: 10px;
    display: inline-block;
    margin-left: 2rem;
}
.mh {
    font-family: almoni-tzar, sans-serif;
    margin: 2rem 0 2rem 1rem;
    display: block;
}
.yzMobileMenu .icn {
    background-color: #9dda61;
}
.svgConM svg {
    max-width: 3.9rem;
    max-height: 3.9rem;
    padding: .5rem;
    box-sizing: border-box;
}
.contentA h2 {
    letter-spacing: .3rem!important;
    text-shadow: 0 0 9px rgba(0, 0, 0, 1)!important;
}
.contentA {
    width: 100%;
    margin-top: 0;
}
.hbMobileMenu .svgConM svg path, .hbMobileMenu .svgConM svg rect {
    fill: #1a69a1;
}
.yzMobileMenu .svgConM svg path, .yzMobileMenu .svgConM svg rect {
    fill: #71a04d;
}
.genMobileMenu a {
    color: #b3b4b0!important;
}
.mh .ib {
    display: inline-block;
}
.catList .table p br, .categoryDesTableCell p, .categoryDesTableCell.projectPage .tags {
    display: none;
}
.archive .catList.yzCatList li, .catList li {
    width: 50%}
.categoryDesTableCell h2 {
    font-size: 1.5rem;
}
.govCatInfo p {
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.catList li.govCat a:hover .govCatInfo {
    background-size: 2.2rem 2.7rem;
    background-position: right 2rem center;
}
.govCatInfo h2 {
    font-size: 1.7rem;
    line-height: 1.7rem;
}
.catList li {
    height: 0!important;
    padding-bottom: 40%!important;
}
.page-template-neighbours .catList li {
    padding-bottom: 50%!important;
}
.catList .table h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    white-space: normal;
}
.catList .table {
    padding: 1.5rem;
}
.catList .table p {
    white-space: normal;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.single .catList .table p {
    text-align: right;
}
.categoryDesTableCell.projectPage h2 {
    top: 55%!important;
}
.firstOfThree {
    padding: 0;
    box-sizing: border-box;
}
.thirdOfThreeIn {
    box-sizing: border-box;
    padding: 1rem;
}
.firstOfThree .thirdOfThreeIn {
    padding-top: 2rem;
}
.secondOfThree {
    padding: 0;
}
.single-yz-projects .csLink .leftArr.bl {
    vertical-align: baseline;
}
.prNum {
    font-size: 1.7rem;
}
.single .catList .table h1 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    text-align: right;
}
.single .tags {
    font-size: 1rem;
    margin-top: 1rem;
}
.single .tags li {
    padding-bottom: 0!important;
    height: auto!important;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: .3rem;
}
.single .tags svg {
    width: 10%;
    height: auto;
}
.catList .secondOfThree .table p, .csLink {
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.leftArr.bl {
    background-size: 1.9rem .9rem;
    background-position: left bottom;
}
.thirdOfThree .tableCell {
    line-height: 1.1rem;
    font-size: 1rem!important;
}
.ic {
    padding: .5rem;
    box-sizing: border-box;
}
.thirdOfThree .tableCell img {
    width: 1.6rem;
    height: auto;
}
.lightBoxTable {
    width: 100%}
.lightBoxContent {
    width: 80%;
    margin: auto;
}
.theCon img {
    width: 100%;
    margin: auto;
}
.csTitle, p {
    margin-bottom: 0;
}
.prev {
    left: -4.2rem;
}
.next {
    right: -4.2rem;
}
.cls {
    left: 0;
}
.tes  {
    padding:  0 2rem;
    background-image: none;
}
.catList .tes .table p {
    font-size: 1.3rem;
    padding-top: 0;
}
.tes h4 {
    font-size: 1.7rem;
}
.tes h3 {
    font-size: 2.2rem;
}
.featureImage, .featureInfo {
    width: 50%;
    padding-bottom: 0;
    height: 36.7rem;
}
.csNum {
    font-size: 8rem;
    line-height: 6rem;
}
.featureInfo h2 {
    font-size: 1.7rem;
}
.featureInfoOver, .featureInfoTable {
    padding: 0 2rem;
    box-sizing: border-box;
}
.featureInfo p {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.featureInfo .featureInfoOver h2:after, .featureInfo h2:after {
    margin: 1rem 0;
}
.leftIcn, .rightIcn {
    right: calc(50% - 3rem);
    top: calc(50% - 3rem);
    left: auto;
    bottom: auto;
}
.projectsListCS li a {
    font-size: 1.1rem;
}
.projectsListCS li a .leftArr {
    background-size: 1.5rem .7rem;
}
.topDataTableCell {
    display: block;
    width: 100%;
    text-align: center;
}
.csTopImage {
    height: 20rem;
    position: static!important;
    background-size: cover;
    margin-top: 0!important;
}
.csTopImage img {
    display: none;
}
.cst {
    font-size: 1.3rem;
    padding-top: 4rem;
}
.single-hb-case-study h2.top {
    font-size: 3.7rem;
}
.single-hb-case-study h3.top {
    font-size: 1.3rem;
}
.csfl {
    padding-bottom: 3rem;
}
.csfl li {
    font-size: 1.2rem;
    padding: .5rem;
}
.csfl li img {
    width: 2rem;
    height: auto;
}
.chalangeTableCell, .gallery, .quote {
    width: 100%;
    display: block;
}
.chalangeData, .topData {
    padding: 0 4rem;
}
.sum {
    font-size: 1.3rem;
    line-height: 1.4rem;
    text-align: right;
    padding-bottom: 2rem;
}
.leftCh, .rightCh {
    padding: 3rem 0;
}
.leftCh p, .rightCh p {
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.leftCh h3, .rightCh h3 {
    font-size: 2rem;
}
.leftCh h3:after, .rightCh h3:after {
    height: .3rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
.c2 {
    max-width: none;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
.bottonDataTable {
    display: block;
    height: auto;
}
.galNums {
    display: none;
}
.bottomData {
    padding: 0;
    overflow: hidden;
}
.quote {
    padding: 4rem;
    font-size: 1.7rem;
    line-height: 1.7rem;
}
.qt {
    font-size: 1.1rem;
}
.csMore {
    margin-top: 0;
}
.moreProjects h3.mh {
    font-size: 2.6rem;
    line-height: 7.5rem;
    padding: 0;
    margin: 0;
}
.moreProjects li .catHover h4, .moreProjects li .csIdle h4 {
    font-size: 1.6rem;
}
.moreProjects li h3 {
    font-size: 2.2rem;
}
.csTitle {
    font-size: 1rem;
}
.hbMobileMenu .ib, .yzMobileMenu .ib {
    display: inline-block!important;
    width: auto!important;
}
.csMore .catHover {
    padding: 1rem;
}
.catHover p {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.hoverBottom ul li span .ty {
    font-size: 1.1rem;
    margin-top: 0;
}
.wp .leftArr {
    background-size: 1.4rem .7rem;
    background-position: left center;
}
.hoverBottom svg {
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}
.hoverBottom ul li .ib, .hoverBottom ul li svg {
    vertical-align: middle;
    display: inline-block;
}
.csMore li {
    padding-bottom: 50%!important;
}
.pageParagraphs {
    padding-top: 3rem;
}
.pageParagraphs h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.leftP, .rightP {
    display: block;
    padding: 0 3.5rem;
    box-sizing: border-box;
    text-align: justify;
    width: 100%}
.rightP {
    font-size: 1.6rem;
    line-height: 1.7rem;
}
.projectNum {
    padding-bottom: 0;
}
.leftP {
    font-size: 1.3rem;
    margin-top: 2rem;
    line-height: 1.4rem;
}
.pageParagraphs {
    margin-bottom: 4rem;
}
.moreProjects h2 {
    height: 6.3rem;
    line-height: 6.5rem;
    padding-right: 4rem;
    background-size: 3rem;
    font-size: 2rem;
}
.formRight input[type=submit], .icna {
    background-size: 2rem;
}
.moreProjectsCon {
    height: 6.3rem;
    line-height: 6.3rem;
}
.moreProjects .catList li {
    display: block;
    width: 100%;
    padding-bottom: 60%!important;
}
.moreProjects li .csIdle h4, .moreProjects li h3 {
    top: 80%!important;
}
.thirdOfThree.mb {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.single-yz-projects #item1 .description, .single-yz-projects #item2 .description {
    font-size: 1rem;
    display: block;
}
.fNum, .page-template-faq h1 {
    font-size: 2.2rem;
    text-align: center;
}
.description, .noCirc {
    display: none;
}
.single-yz-projects #item1, .single-yz-projects #item2 {
    padding-bottom: 80%!important;
}
.catList {
    overflow: hidden;
    position: relative;
}
.page-template-faq h1 {
    padding: 3rem 1rem;
}
.page-template-faq .ib, .page-template-faq .table, .page-template-faq .table-cell {
    display: block;
    width: 100%}
.answer:before {
    position: absolute;
    left: auto;
    right: 8rem;
    top: -.7rem;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 .9rem .7rem;
    border-color: transparent transparent #fff;
}
.fpe:before, .page-template-faq .ib.answer {
    display: none;
}
.fNum {
    width: 2rem;
}
.ib.answer {
    padding-left: 0;
    position: relative;
}
.question p {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.6rem;
}
.fNum, .trb {
    border-color: #a8d080;
}
.page-template-green-tama h1 {
    font-size: 1.9rem;
    padding: 3rem 1rem 0;
    text-align: center;
    line-height: 1.9rem;
}
.page-template-green-tama .answer {
    width: 100%;
    padding-left: 0;
}
.faqContainer ul.featuesList {
    padding: 0;
}
.faqContainer ul.featuesList li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.galCon {
    position: relative!important;
}
.page-template-green-tama h2 {
    line-height: 1.4rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    padding: 0 1rem;
    text-align: center;
}
.bulletHead {
    display: table;
    width: 100%}
.bulletHead .trb {
    display: table-cell;
    background-color: #e1e1e1;
}
.bhc {
    width: 100%;
    overflow: scroll;
}
.slick-dots li {
    width: 1rem!important;
}
.page-template-green-tama h3 {
    font-size: 1.7rem;
    padding: 1.5rem 1rem;
    text-align: right;
    min-width: 8rem;
}
.thp svg {
    max-width: 2.2rem;
    max-height: 2.2rem;
    height: auto;
    vertical-align: middle;
}
.page-template-green-tama .fNum {
    width: auto;
    padding: 0 .5rem;
    border: none;
}
.page-template-green-tama .trb {
    border-left: 1px solid #d0d0d0;
}
.page-template-green-tama .thp svg path {
    fill: #ccc;
}
.page-template-green-tama .green {
    background-color: transparent;
}
.bulletHead .trb.currentHead {
    position: relative;
    background-color: #99c86b;
}
.bulletHead .trb.currentHead svg path {
    fill: #80b150;
}
.desktop.fpe.ib, .prut {
    display: none;
}
.currentPrue {
    display: block;
}
.bulletHead .trb.currentHead:before {
    position: absolute;
    left: auto;
    right: calc(50% - .4rem);
    bottom: -.1rem;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .9rem .7rem;
    border-color: transparent transparent #fff;
}
.page-template-green-tama .answer:before, .page-template-green-tama .faqContainer ul.featuesList li:before {
    display: none;
}
.icna {
    position: absolute;
    background-color: transparent;
    background-position: right center;
    background-repeat: no-repeat;
    height: 100%;
    top: 0;
    right: 1rem;
    width: 2.4rem;
}
.color, .pa, .tabler h4 {
    position: static;
}
.par a {
    background-size: 2.5rem;
}
.faqContainer ul.featuesList li {
    padding-right: 4rem;
}
.formRight .wpcf7-form-control-wrap {
    line-height: 0;
    height: auto;
    display: block;
    width: 80%;
    margin: auto auto .5rem;
}
.aptDetTable .table-cell, .form, .formRight input, .lb, .pa, .par, .saleGallery, .topH, .topLeftSale {
    width: 100%}
.formRight input[type=submit] {
    height: auto;
    display: block;
    width: 100%;
    margin: auto auto .5rem;
}
.form {
    padding: 3rem 0;
    display: table;
}
.formRight {
   
}
.formLeft {
    
    text-align: center;
}
.lb, .mb, .pa, .par, .saleGallery, .topLeftSale {
    display: block;
}
.formLeft h4 {
    
}
.formLeft p {
   
    white-space: normal;
	padding: 4rem;
	box-sizing: border-box;
}
.formRight input {
    height: 3.6rem;
    line-height: 3.6rem;
    font-size: 2rem;
}
	.site-main{
		padding-bottom: 8.5rem;
	}
	.formRight input{
		margin-bottom: 3rem;
	}
	span.wpcf7-not-valid-tip{
		top:1rem;
	}
	.formRight{
		padding-top: 0;
	}
.galCon, .saleGallery {
    /*height: 20rem;
    */overflow: hidden;
}
.topLeftSale h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    padding-right: 2rem;
}
.aptsName h3, .sepcs li h5, .topLeftSale h3 {
    font-size: 1.3rem;
}
.topH .tr {
    padding: 3rem 0;
}
.topH {
    padding: 0;
}
.topLeftSale h3 {
    padding: 0 2rem;
    line-height: 1.3rem;
}
.topH .table-cell {
    vertical-align: top;
}
.ppar, .tr {
    padding: 0;
}
.par {
    padding: 2rem;
    box-sizing: border-box;
}
.aptDet {
    margin-top: 0;
}
.par p {
    padding: 0;
    text-align: right;
}
.aptsName h3 {
    line-height: 5rem;
}
.aptDetTable p {
    padding: 2rem;
}
.lb {
    border: none;
}
.aptDetTable .table-cell img {
    width: 90%;
    margin: auto;
}
.tt {
    width: 100%}
.tabler h4 {
    text-align: center;
    padding-right: 0;
}
.sepcs li p {
    font-size: 1.2rem;
    line-height: normal;
    padding: 2rem 0;
}
.aptDetTable .table-cell .sepcs img {
    width: auto;
    max-width: 4rem;
    height: auto;
    max-height: 3rem;
}
.page-template-neighbours .secondOfThree {
    width: 100%}
.page-template-neighbours .secondOfThree h2 {
    font-size: 1.4rem;
    text-align: center;
}
.page-template-neighbours .catList .secondOfThree .table p {
    font-size: 1.7rem;
}
.qtc {
    padding: 1.5rem;
}
.catList .table p.qtd {
    font-size: 1.4rem;
    text-align: right;
}
.mitc {
    padding-top: 0;
}
.catList .table p.qtdi {
    text-align: right;
    font-size: 1rem;
    line-height: normal;
    height: auto;
    background-size: 1.2rem 1.2rem;
}
.thCo {
    width: 60%!important;
}
.parCo {
    width: 40%!important;
}
.rightS {
    float: right;
}
.leftS {
    float: left;
}
.parCo .table {
    padding: 0;
}
.usTop h1 {
    font-size: 2.3rem;
    padding: 3rem 1rem 1rem;
}
.usTop .table .uleftP, .usTop .table .urightP {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    padding: 0 2rem;
}
.usTop .table p {
    font-size: 1.4rem;
    padding: 0;
    text-align: justify;
}
.mb {
    width: 10rem;
}
.usTop .table h2 {
    font-size: 2.1rem;
    line-height: 2.3rem;
    padding: 3rem 0;
    box-sizing: border-box;
}
.usTop .table h2 img {
    width: 1.5rem;
    height: 1.5rem;
}
.usBullets {
    margin-top: 1rem;
    padding: 2rem;
}
.usBullets li {
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 1rem;
    background-size: .6rem .6rem;
}
.usBulletsCon {
    width: 100%;
    overflow: scroll;
}
.member.mh {
    display: none;
}
.teamMemberDetailsCon, .teamMemberImageCon {
    display: table-cell;
    width: 50%;
    padding-bottom: 0!important;
}
.teamMemberDetailsCon {
    position: static;
    opacity: 1;
}
.teamMemberImageCon {
    vertical-align: top;
    overflow: hidden;
}
.teamMembers li {
    display: table;
    width: 100%!important;
    padding-bottom: 0;
    table-layout: fixed;
}
.color {
    opacity: 1;
}
.bw {
    display: none;
}
.teamMemberDetailsCon h3 {
    font-size: 2.1rem;
    padding-top: 1rem;
}
.teamMemberDetailsCon h4 {
    font-size: 1.54rem;
    margin-bottom: 1rem;
}
.teamMemberDetailsCon p {
    font-size: .9rem;
}
.teamMemberDetailsCon .pa {
    padding: 0 1rem;
    height: auto;
}
.teamMembers li img {
    position: relative;
    right: -50%;
    height: 37rem;
    width: auto;
}
.left .teamMemberDetailsCon {
    float: right;
}
.left .teamMemberImageCon {
    float: left;
}
.addKav:before {
    width: 1.5rem;
    margin-top: 1rem;
}
.certList li {
    overflow: hidden;
    display: block;
    width: 100%;
    border: none;
    padding: 3rem 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e7;
}
.headli h3, .headli h4, .sc {
    display: none;
}
.certList li a {
    font-size: 0;
    float: left;
}
.certList li a svg path {
    fill: #055894;
}
.certList {
    padding-top: 0;
}
.certList li h2 {
    margin-bottom: 0;
    float: right;
    font-size: 2rem;
    text-align: right;
    white-space: normal;
}
.page-template-partners h1 {
    font-size: 2.3rem;
}
.page-template-partners h2, .page-template-partners p {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.page-template-partners #main {
    padding: 0;
}
.capBottom ul, .capTop {
    padding: 0 1rem;
}
.logos {
    margin-top: 2rem;
}
.logos li {
    width: 20%;
    padding: 1rem;
    box-sizing: border-box;
}
.logos li img {
    width: 100%;
    height: auto;
}
.partnerName h3 {
    font-size: 2rem;
}
.partnerName h4 {
    font-size: 1.4rem;
}
.partnerName svg {
    max-width: 4rem;
    max-height: 4rem;
    padding-left: 1rem;
}
.partnerName {
    height: 8.9rem;
}
.capBottom .table-cell {
    line-height: 2rem;
}
.activePartnerName:before {
    left: calc(50% -1rem);
    border-width: 0 2rem 1.2rem;
}
.page-template-press .pressList li .content h2, .page-template-press .pressList li.bigItem .content h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.page-template-press .pressList li.bigItem .content h3, .page-template-press li .content h3 {
    font-size: 1.3rem;
}
.grid-sizer, .item, .page-template-press .pressList li, .page-template-press .pressList li.bigItem {
    width: 48%;
    height: 23rem;
    padding-bottom: 0;
    box-sizing: border-box;
}
.page-template-press .pressList li .content {
    width: 100%;
    padding: 2rem;
}
.listNames li {
    font-size: 2rem;
    font-weight: 400;
    border: none;
}
.listNames ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    font-size: 2rem;
}
.ib.list {
    display: block;
}
.listNames {
    margin: 2rem 0;
}
.content a {
    line-height: 2.9rem;
    font-size: 1rem;
}
.page-template-press h1 {
    font-size: 2.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}
.contactTop {
    height: 22.7rem;
}
.contactTop h1 {
    font-size: 3.6rem;
    padding-top: 6rem;
}
.contactTop .p {
    display: none;
}
.cc img {
    max-width: 3.6rem;
    max-height: 3.6rem;
}
.contactTop .table {
    table-layout: auto;
}
.contactTop .table-cell.bo {
    width: auto;
    padding: 0 .5rem 0 1rem;
    border: none;
}
.nf {
    width: 90%}
.contactTop .soc li a {
    width: 3.2rem;
    height: 3.2rem;
}
.tcb {
    display: table;
}
.contactTop .soc li a i {
    font-size: 2rem!important;
    margin: 0;
    line-height: 3.2rem;
    color: #1779bf;
}
.menu-item i._mi, .menu-item img._mi {
    vertical-align: super;
}
footer .menu-item i._mi, footer .menu-item img._mi {
    vertical-align: middle;
}
.topMenu {
    height: 3.2rem;
}
.contactTop .soc {
    border-right: 1px solid #105f9b;
    padding-right: 2.5rem;
}
.contactForm h2, .dr h2 {
    font-size: 2.3rem;
    margin: 2rem;
}
.dr h2 {
    margin-bottom: 0;
}
.contactForm input[type=submit], .wpcf7-form-control-wrap {
    font-size: 1.6rem;
    width: 90%;
    margin: 0 auto .5rem;
}
.contactForm input {
    height: 4.5rem;
    line-height: 4.5rem;
}
 .xList li {
    height: auto;
    display: block;
}
.drushim {
    padding: 1.5rem;
}
.drushim li h3 {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.drushim li a, .drushim li p {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.drushim li a {
    padding-top: .5rem;
}
.drushim .pa {
    padding: 0;
}
.drushim li {
    padding: 0;
    width: 100%}
.homeLink {
    background-image: none;
    width: auto;
    text-align: center;
    padding: .5rem 0;
}
.home .homeLink {
    padding: 0;
    background-image: url(images/hbg.svg);
}
.top {
    font-size: 2.2rem;
}
.bottom {
    font-size: 1.1rem;
    display: block;
}
.contactForm input, .contactForm textarea {
    font-size: 1.6rem;
}
.xList li {
    padding-bottom: 0;
    width: 100%}
.exText, .riboon {
    width: 100%!important;
    float: none!important;
}
.riboon {
    padding: 4rem 0!important;
}
.tcb, .tcc {
    width: 100%}
.xpdf {
    margin-top: 2rem;
}
.xpdf .leftArr {
    background-size: 2rem;
    vertical-align: bottom;
}
.exOver {
    padding: 3rem!important;
}
.exOver h2 {
    margin-bottom: 1rem;
}
.exOver p {
    font-size: 1rem;
    line-height: 1rem;
}
.xList h2 {
    font-size: 2rem;
}
.tcb {
    height: 100%}
.tcc {
    display: block;
    height: 23.4rem;
}
.riboon .tcc {
    height: 14.5rem;
}
.tc {
    height: 23.4rem;
    display: table-cell;
    vertical-align: middle;
}
.riboon img {
    width: 3.3rem;
    height: 4.7rem;
}
.xList h3 {
    font-size: 1.3rem;
}
.topDataCon {
    margin-top: 0!important;
}
.soldLeft:before, .soldRight:before {
    background-position: center;
    background-size: 40%}
.page-template-hb_home .hb_side, .page-template-yz-home .yz_side {
    height: 100vh;
}
.yzMobileMenu .current_page_item a, .yzMobileMenu .current_page_parent a, .yzMobileMenu a:hover {
    color: #80b150!important;
}
.trb .answer.top {
    padding: 2rem 0;
}
div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
    bottom: auto;
    left: 5rem;
}
.imgc {
    height: 3rem;
}
.saleTop {
    display: block;
}
.saleGallery img {
    width: 100%;
    height: auto;
}
	.breadcrumbs {
    
		display:  none;
    
	}
a: hover .leftArr  {
    
    right:  0;
    
}
.topMenu li {
    
	vertical-align:  top;
    
}
.page-template-green-tama .answer {
    
	display:  block;
    
}
.chalangeTableCell {
    height:  auto;
}


footer .social {
    
	display:  block !important;
    
}
.ib.green.mq.fpe {
    
	display:  block;
    
}
.home #page {
    
	    padding-bottom:  8rem;
    
}
.bigJob  {
    
	padding:  2rem 2rem;
    
	box-sizing:  border-box;
    
}
.bigJob h3 {
    
	font-size:  2rem;
    
	padding:  0 4rem;
    
	box-sizing:  border-box;
    
}
.bigJob .summ, .bigJob .requirments {
    
	font-size:  1.6rem;
    
	line-height:  normal;
    
	padding:  0 4rem !important;
    
	box-sizing:  border-box;
    
}
.bigJob h4 {
    
	font-size:  1.5rem;
    
}
.bigJob .contactForm input,  .bigJob .contactForm textarea {
    
	box-sizing:  border-box;
	margin-bottom: 1rem !important;
    
}
.bigJob  .contactForm input[type=submit],  .bigJob  .wpcf7-form-control-wrap {
    
	width:  100%;
    
		box-sizing:  border-box;
    
	
}
.bigJob .summ, .bigJob h4 {
    
	margin-top:  2rem;
    
}

.email-539 {
    
	width: 55% !important;
    
}
.ih {
    
	align-items:  baseline;
    
}
.ih label  {
    
       width:  42%;
    
    padding:  0 2rem 0 1rem;
    
    font-size:  1.6rem;
    
    line-height:  4.5rem;
    
    height:  4.5rem;
    
	background-size:  1.5rem;
    
}
.bigJob .contactForm input,  .bigJob .contactForm textarea {
    
	margin:  0;
    
}
.bigJob .contactForm input[type=submit] {
    
	background-size:  3rem;
    
}
.drushim .pa {
    
	padding:  0 3rem;
    
}
.drushim .toForm {
    
	text-decoration:  none;
    
}
.drushim li a,  .drushim li p {
    
	font-size:  1.7rem;
    
}
.drushim li {
    
	margin-bottom:  3rem;
    
}
.drushim {
    
	padding-bottom:  8rem;
    
}
.bigJob {
    
	position:  fixed;
    
	top: 0;
    
	left: 0;
    
	width:  100%;
    
	height:  100%;
    
	overflow:  scroll;
    
	background-color:  #fff;
    
	z-index:  999999;
    
	padding-top:  10rem;
    
}
#clsJob {
    
	width:  1.8rem;
    
	height:  1.8rem;
    
	background-image:  url(images/cls.jpg);
    
	background-size:  1.8rem 1.8rem;
    
	position:  absolute;
    
	top: 7.5rem;
    
	right:  2rem;
    
	background-color:  transparent;
    
	border: none;
    
}
.tabs {
    
	width:  100%;
    
}
.formsArea {
    
	width:  100%;
    
}
.forms li {
    
	width:  100vw;
    
}
.tabs li button {
    
	font-size:  1.2rem;
    
	height:  3.1rem;
    
	line-height:  3.1rem;
    
}
.contactForm input[type=submit],  .wpcf7-form-control-wrap {
    
	box-sizing:  border-box;
    
	width:  100%;
    
	margin:  0;
    
}
.forms form {
    
	width:  auto;
    
}
.contactForm input,  .contactForm textarea {
    
	box-sizing:  border-box;
    
	padding:  0 3rem;
    
}
.formsArea {
    
	margin-top:  2rem;
    
}
.contactForm {
    
	padding:  0 2rem;
    
	box-sizing:  border-box;
    
}
.dd .label {
    
	height:  4.5rem;
    
    line-height:  4.5rem;
    
	font-size:  1.6rem;
    
}
.options li {
    
	font-size:  1.6rem;
    
}
.bt  {
    
  
    border-width:  5.5px 5.75px 0 5.75px;
    
   
}
	.theFormCon{
		padding: 0;
	}
	.formLeft h4:after{
		position: static;
		margin: auto;
	}
	
	.postList {
		width: 100%;
		
	}
	
	.postList li{
		float: none;
		width: 100% !important;
		height: auto;
	}
	
	.postList .imgConP{
		height: 20rem !important;
	}
	
	.dateAndMore{
		padding-top: 1.5rem;
	}
	.singleWrapper{
	width: 100%;
	display: block;
	padding: 0 2.4rem;
	box-sizing: border-box;
}
.article{
	width: 100%;
	padding: 0;
	
}
	.featured a{
		font-size: 1.6rem;
	}
	.single-blog-post .article p{
		
		font-size: 1.6rem;
    line-height: 2rem;
		margin-bottom: 2rem;
	}
	.postList li.big h2{
		font-size: 2.4rem;
	}
	.dets .summary p{
		font-size: 1.6rem;
		line-height: 1.2;
	}
.single-blog-post h1{
	font-size: 3rem;
	padding-top: 3rem;
	line-height: 1.2;
	margin-bottom: 2rem;
}
	.singleSoc {
		display: none !important;
	}
.featured{
	padding: 0;
	border: none !important;
	margin-top: 5rem;
}
}
 
















@media screen and  (max-width :  360px)  {
    html {
    font-size: 8px;
}
}